$color_1: white;
$color_2: #fff;
$color_3: black;
$color_4: aliceblue;
$color_5: #00ffbf;
$background-color_1: black;
$background-color_2: var(--dark);
$background-color_3: #121212;
$background-color_4: #525252;
$background-color_5: #000000e5;
$background-color_6: #ffffff;
$colors:("regular": rgb(0, 0, 0), "medium": #EDB4E6, "bold": #B4D2ED  );




